:root {
	--black: #282828;
	--darkBlack: #1d2021;
	--beige: #f9f5d7;
	--darkBeige: #ebdbb2;
}

body {
	background-color: var(--black);
	color: var(--beige);
}

a,
a:visited {
	color: var(--beige);
}

.container {
	max-width: 800px;
	margin: 0 auto;

	display: flex;
	flex-flow: column nowrap;

	padding: 0;
}

.pageTitle {
	margin-bottom: 0;	
}

.arrowsContainer {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	gap: 1rem;

	display: flex;	
	flex-flow: row nowrap;
	

	list-style: none;
	font-size: 2rem;
}

.arrowsContainer > li {
	cursor: pointer;
}

.searchContainer{
	display: flex;	
	flex-flow: column nowrap;
}

#item-name {
	outline: none;
	border: none;
	
	background-color: var(--darkBlack);
	color: var(--darkBeige);

	padding: .6rem;
	font-size: .9rem;

}
