:root {
	--black: #282828;
	--darkBlack: #1d2021;
	--beige: #f9f5d7;
	--darkBeige: #ebdbb2;
	--green: #b8bb26;
	--red: #cc241d;
}

body {
	background-color: var(--black);
	color: var(--beige);
}

a,
a:visited {
	color: var(--beige);
}

.container {
	max-width: 800px;
	margin: 0 auto;

	display: flex;
	flex-flow: column nowrap;

	padding: 0;
}

.pageTitle {
	margin-bottom: 0;	
}

.load-more-items,
.clear-items {
	margin: 1rem 0 0 0;	
	
	font-weight: bolder;
	cursor: pointer;
	color: var(--green);
}
.clear-items {
	margin: 0;
	color: var(--red);
}

.load-more-items-hidden,
.clear-items-hidden {
	visibility: hidden;
}

.searchContainer{
	display: flex;	
	flex-flow: column nowrap;
}

#item-name {
	outline: none;
	border: none;
	
	background-color: var(--darkBlack);
	color: var(--darkBeige);

	padding: .6rem;
	font-size: .9rem;

}
