body {
	background-color: #282828;
	color: #f9f5d7;
}

a,
a:visited {
	color: #f9f5d7;
}

.container {
	max-width: 800px;
	margin: 0 auto;

	display: flex;
	flex-flow: column nowrap;

	padding: 0;
}

.pageTitle {
	margin-bottom: 0;	
}

.arrowsContainer {
	padding: 0;
	margin-top: 0;
	gap: 1rem;

	display: flex;	
	flex-flow: row nowrap;
	

	list-style: none;
	font-size: 2rem;
}

.arrowsContainer > li {
	cursor: pointer;
}

.searchContainer{
	display: flex;	
	flex-flow: column nowrap;
}
